<div class="counts">
	<div class="countsTitle">Total Customers Counts</div>
	
	<div class="countWrapper">
		<div class="countLabel">Using Support Bot</div>
		<div class="count" id="self_help_count"><%= @counts[:self_help] %></div>
	</div>
	
	<div class="countWrapper">
		<div class="countLabel">Waiting For Help</div>
		<div class="count" id="need_help_count"><%= @counts[:need_help] %></div>
	</div>
	
	<div class="countWrapper">
		<div class="countLabel">Speaking To Rep</div>
		<div class="count" id="help_arrived_count"><%= @counts[:help_arrived] %></div>
	</div>
	
	<div class="countWrapper">
		<div class="countLabel">Problem Solved</div>
		<div class="count" id="problem_solved_count"><%= @counts[:problem_solved] %></div>
	</div>

</div>