<% if !@customer_visit %>
	<div class="description">Sorry, there are actually no customers to assist right now.</div>
<% else %>
	
	<% content_for :scripts do %>
		<script type="text/javascript" charset="utf-8" src="http://drop.io/javascripts/streamer.js"></script>

		<script>
		Event.observe(window,"load",function() {
			SupportableChat.start("<%= @company.url_name %>","<%= @drop_name %>","<%= @chat_password %>",true);
		})
		</script>
	<% end %>

	<div class="title">Customer Chat Room</div>

	<br /><br />

	<%= render :partial => "shared/supportable_chat" %>
	
<% end %>

<br /><br />