<h1>Login As An Employee Of <%= @company.name %></h1>

<%= render :partial => "shared/message" %><br /><br />

<form action="" method="post">
	Email: <input type="text" name="email" /><br />
	Password: <input type="password" name="password" /><br />
	<input type="submit" value="Login" />
</form>
	