<h1>Welcome To <%= @company.name %>'s Landing Page</h1>

Custom Welcome Text: <br />
<i><%= @company.landing_page_welcome_text %></i>
<br /><br />

Company Homepage: <%= @company.homepage %>

<Br /><br />

<button onclick="Customer.init_support('<%= @company.url_name %>')">Get Customer Support Now!</button><br /><br />
