<div class="title">Customer Support<br /><%= @company.name %></div>

<div class="description">
	<i><%= @company.landing_page_welcome_text %></i>
</div>

<div class="getSupport" onclick="Customer.init_support('<%= @company.url_name %>')"></div>
