<div style="width: 100%; height: 500px; border: 1px solid black">
	<div id="nickList" style="float: left; width: 20%; height: 400px; border: 1px solid black">

	</div>

	<div id="chatWindow" style="float: left; width: 70%; height: 400px; border: 1px solid black">

	</div>

	<div style="float:left; width: 100%; height: 100px; border: 1px solid black">
		<div style="float:left">
			<input id="message" type="text" style="width: 90%">
		</div>
		<div style="float:left ">
			<input type="submit" value="Send" onclick="SupportableChat.sendMessage();">
		</div>
	</div>
</div>