<div class="tagline"></div>

<div class="signupWrapper">
	<div class="signupDisplay"></div>
	<div class="signupButton">
		<a href="<%= signup_url %>">
			<img src="/images/getstarted.png" />
		</a>
	</div>
</div>
