<div class="title">Update Company Info</div>

<%= render :partial => "shared/message" %>

<div class="formWrapper" style="height: 175px;">
	<form action="" method="post">
		<div class="label">Name</div><div class="field"><input type="text" name="company[name]" value="<%= @company.name %>" /></div>
		<div class="label">Landing Page Welcome Text</div><div class="field"><textarea name="company[landing_page_welcome_text]"><%= @company.landing_page_welcome_text %></textarea></div>
		<div class="label">Homepage URL</div><div class="field"><input type="text" name="company[homepage]" value="<%= @company.homepage %>" /></div>
		<div class="submitWrapper"><input type="submit" value="Update" /></div>
	</form>
</div>